<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de Nosotros</title>
</head>
<body>
    {% extends 'blog/base.html' %}

    {% block contenido %}
    <div class="container mt-5">
        <h1>Acerca de Nosotros</h1>
        <p>Este proyecto fue desarrollado como parte del curso de Python utilizando Django.</p>
        <p>Esperamos disfrutes nuestra blog de juegos. </p>
    </div>
    {% endblock %}
</body>
</html>